#training {
    padding: 20px;
  }
  
  #guidelines {
    margin-top: 20px;
  }
  
  #guidelines ul {
    list-style-type: none;
  }
  
  #guidelines li {
    margin-bottom: 10px;
  }
  