#dashboard {
    padding: 20px;
  }
  
  .countdown {
    margin-bottom: 20px;
  }
  
  .dashboard-content {
    margin-bottom: 20px;
  }
  
  .user-info .info-block {
    margin-bottom: 10px;
  }
  
  .activate, .conduct, .copyright {
    margin-top: 20px;
  }
  